{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<hr class="my-1">
<div class="container-fluid">
    <div class="row my-1"></div>
</div>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">{{ _('Zwei-Faktor-Authentifizierung einrichten') }}</h1>
                <h5>{{ _('Benutzername: ' + username) }}</h5>
                <p class="card-text">
                    {{ _('Wenn du noch keine Authenticator App hast, muss zunächst eine eingerichtet werden. iPhones sollten dies von Haus können, unter Android kann z.B. der Google Authenticator genutzt werden.') }}<br>
                    {{ _('Download des Google Authenticators:') }} <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=de&gl=US" target="_blank">Google Play Store</a>, <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank">{{ _('hier im Play Store') }}</a>.<br>
                    {{ _('Scanne den QR-Code mit der Authenticator App. Alternativ kannst du den darunter stehenden Code manuell eingeben.') }}<br>
                    {{ _('Anschließend musst du den 6-stelligen Code aus der App hier eingeben, um die Einrichtung abzuschließen.') }}<br>
                </p>
                <div class="text-center">
                    <img src="{{ qr_code }}" alt="{{ _('Hier sollte ein QR-Code stehen. Wenn dieser nicht angezeigt wird, muss der Code manuell in eine Authenticator App eingegeben werden.') }}" style="width:200px;height:200px"/>
                    <form>
                        <label for="secret">{{ _('Manueller Code zum Kopieren:') }}</label>
                        <input type="text" id="secret" class="form-control text-center" value="{{ secret }}" readonly>
                        <button type="button" class="btn btn-primary" onclick="copySecret()">{{ _('Geheimen Code kopieren') }}</button>
                    </form>
                </div>
                {{ render_form(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function copySecret()
{
    var copyText = document.getElementById("secret");
    copyText.select();
    copyText.setSelectionRange(0, 99999); /* for mobile devices */
    document.execCommand("copy");
    alert("{{ _('Der Code wurde kopiert.') }}");
}
</script>
{% endblock %}