{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/strength.css') }}">
{% endblock %}

{% block content %}
<hr class="my-1">
<div class="container-fluid">
    <div class="row my-1"></div>
</div>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">{{ _('Passwort einrichten') }}</h1>
                <p class="card-text">
                    {{ _('Bitte richte dir ein Passwort für deinen Account ein. Der Login funktioniert erst, wenn ein Passwort gesetzt wurde.') }}<br>
                    {{ _('Aus Sicherheitsgründen sollte das Passwort mindestens die folgenden Kriterien erfüllen - es darf diese aber gerne übertreffen:') }}<br>
                </p>
                <ul>
                    <li>{{ _('Mindestens 8 Zeichen lang') }}</li>
                    <li>{{ _('Enthält mindestens einen Großbuchstaben') }}</li>
                    <li>{{ _('Enthält mindestens einen Kleinbuchstaben') }}</li>
                    <li>{{ _('Enthält mindestens eine Zahl') }}</li>
                    <li>{{ _('Enthält mindestens ein Sonderzeichen') }}</li>
                </ul>
                {{ render_form(form) }}
                <div id="password-strength-status"></div>
                <ul class="pswd_info" id="passwordCriterion">
                    <li data-criterion="length" class="invalid">8 <strong>{{ _('Zeichen') }}</strong></li>
                    <li data-criterion="capital" class="invalid">{{ _('Mindestens') }} <strong>{{ _('ein Großbuchstabe') }}</strong></li>
                    <li data-criterion="small" class="invalid">{{ _('Mindestens') }} <strong>{{ _('ein Kleinbuchstabe') }}</strong></li>
                    <li data-criterion="number" class="invalid">{{ _('Mindestens') }} <strong>{{ _('eine Zahl') }}</strong></li>
                    <li data-criterion="special" class="invalid">{{ _('Mindestens') }} <strong>{{ _('ein Sonderzeichen') }}</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/jquery-3.7.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/strength.js') }}"></script>
<script>
$('#password').keyup(function(event) {
    var password = $('#password').val(); /* your Password Field */
    checkPasswordStrength(password);
});
</script>
{% endblock %}