{% extends 'users/usernav.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block headline %}{{ _('Benutzer') }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row my-2 justify-content-center">
        <div class="card" style="max-width: 800px;">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="{% if user.avatar %}{{ url_for('users.avatar', filename=user.avatar) }}{% else %}{{ url_for('static', filename='img/default_profile.png') }}{% endif %}" class="img-fluid rounded-start" alt="{{ user.username }}">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ _('Vorname:') }} {{ user.firstname }}</li>
                        <li class="list-group-item">{{ _('Nachname:') }} {{ user.lastname }}</li>
                        <li class="list-group-item">{{ _('E-Mail:') }} {{ user.email }}</li>
                        <li class="list-group-item">{{ _('Telefon:') }} {{ user.phone }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% if edit %}
    <div class="row my-2 justify-content-center">
        <div class="card bg-complementary" style="max-width: 800px;">
            <div class="card-body">
                <h5 class="card-title">{{ _('Bearbeiten:') }}</h5>
                {{ render_form(editform) }}
                <br />
                <h5 class="card-title">{{ _('Authentifizierung:') }}</h5>
                <p class="card-text">{{ _('Zwei-Faktor-Authentifizierung neu einrichten: ') }}</p>
                <a href="{{ url_for('auth.setup_2fa', user=user.id) }}"><button class="btn btn-primary btn-md">Hier klicken</button></a>
            </div>
        </div>
    </div>
    <div class="row my-2 justify-content-center">
        <div class="card bg-warning" style="max-width: 800px;">
            <div class="card-body">
                <h5 class="card-title">{{ _('Neues Geheimnis für Zwei-Faktor-Authentifizierung generieren:') }}</h5>
                <p class="card-text">{{ _('Achtung! Hiernach wird die Zwei-Faktor-Authentifizierung zunächst einmal deaktiviert und muss neu eingerichtet werden!') }}</p>
                {{ render_form(change2faform) }}
            </div>
        </div>
    </div>
    <div class="row my-2 justify-content-center">
        <div class="card bg-danger" style="max-width: 800px;">
            <div class="card-body">
                <h5 class="card-title">{{ _('Benutzer löschen:') }}</h5>
                {{ render_form(deleteform) }}
            </div>
        </div>
    </div>
{% endif %}
</div>
{% endblock %}