{% extends 'main/main.html' %}

{% from 'bootstrap5/utils.html' import render_icon %}

{% block headline %}{{ _('Veranstaltungskalender') }}{% endblock %}

{% block content %}
<div class="container mt-3" id="calendar">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between my-3">
                <button class="btn btn-secondary" id="previous-month">{{ _('Vorheriger Monat') }}</button>
                <h2>
                    <span id="current-month"></span> 
                    <span class="badge text-bg-secondary">{{ render_icon('pencil-fill') }}</span>
                    <span id="current-year"></span> 
                    <span class="badge text-bg-secondary">{{ render_icon('pencil-fill') }}</span>
                </h2>
                <button class="btn btn-secondary" id="next-month">{{ _('Nächster Monat') }}</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-striped" style="border: solid 5px rgb(20, 20, 30);">
                <thead>
                    <tr>
                        <th class="col-2">{{ _('Mo') }}</th>
                        <th class="col-2">{{ _('Di') }}</th>
                        <th class="col-2">{{ _('Mi') }}</th>
                        <th class="col-2">{{ _('Do') }}</th>
                        <th class="col-2">{{ _('Fr') }}</th>
                        <th class="col-1">{{ _('Sa') }}</th>
                        <th class="col-1">{{ _('So') }}</th>
                    </tr>
                </thead>
                <tbody id="calendar-body">
                </tbody>
            </table>
            <button type="button" class="btn btn-primarycontrast position-relative" style="display:none;" id="new-event">
                {{ render_icon('plus') }}
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Legende</h5>
                    <p class="card-text calendar-today">Heute</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
<script src="{{ url_for('static', filename='js/luxon.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.7.1.js') }}"></script>
<script>
    const months = [
        '{{ _('Januar') }}',
        '{{ _('Februar') }}',
        '{{ _('März') }}',
        '{{ _('April') }}',
        '{{ _('Mai') }}',
        '{{ _('Juni') }}',
        '{{ _('Juli') }}',
        '{{ _('August') }}',
        '{{ _('September') }}',
        '{{ _('Oktober') }}',
        '{{ _('November') }}',
        '{{ _('Dezember') }}'
    ];
    const locale = '{{ lang }}';
    const DateTime = luxon.DateTime;
    const createButton = $('#new-event');
    const calendar = new Calendar(
        document.getElementById('calendar-body'),
        document.getElementById('current-month'),
        document.getElementById('current-year'),
    );
    document.getElementById('previous-month').addEventListener('click', () => calendar.previousMonth());
    document.getElementById('next-month').addEventListener('click', () => calendar.nextMonth());
    calendar.setup();
</script>
{% endblock %}