<!doctype html>
<html lang="{{ lang }}"{% block html_attribs %}{% endblock %}>
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/planetarium.css') }}">
        {% endblock %}

        {% block title %}<title>{{ title }}Olbers Planetarium {{ _('Datenbank') }}</title>{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row align-items-start mt-1">
                <div class="col-md-4">
                    {% block header_title %}<h4>Planetarium Bremen</h4>{% endblock %}
                </div>
                <div class="col-md-4 offset-md-4">
                    {% block header_right %}{% endblock %}
                </div>
            </div>
        </div>
        {% block divider %}
        <hr class="my-1">
        <div class="container-fluid">
            <div class="row my-1"></div>
        </div>
        {% endblock %}
        {% block content %}{% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>